<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitcher</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<a href="/home" id="homeURL"><h1>Twitcher</h1></a>

<div id="loginContainer" class="login-container">

    <button onclick="logout();" id="logout">LOG OUT</button>
</div>
<div id="profileImageContainer"><a href="/profile?email={{ email }}" onclick="own_profile();"><img
        src="{{ profilePic }}" alt="{{ email }}" id="pfpHome"/></a></div>


<p>Here are the latest tweets from the people you follow:</p>
<div id="postsContainer" class="posts-container">

</div>

<script type="text/javascript" src="/static/script.js">
</script>

<script>
    display_posts(0);
</script>
</body>
</html>