<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitcher</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<a href="/home" id="homeURL"><h1>Twitcher</h1></a>
<div id="registerContainer" class="register-container">
    Email: <input type="text" id="txtEmail"><br/>
    Username: <input type="text" id="txtUsername"><br/>
    Password: <input type="password" id="txtPassword"><br/>
    Profile Picture: <input type="file" id="profilePic"><br>
    <button onclick="register();">REGISTER</button>
</div>


<script type="text/javascript" src="/static/script.js"></script>
</body>
</html>